Beforeintegration/UI/ui/*
Beforeintegration/UI/env/*
Beforeintegration/UI/~$mplate.docx/*
Beforeintegration/UI/~WRL0005.tmp/*
Beforeintegration/UI/kinki_programfile/model.vec
Beforeintegration\UI\__pycache__
